<div class="col-mid-6 offset-md-3">
<h3>  Create Employee </h3>
<form [formGroup]="contactForm" (ngSubmit)="onSubmit()">

    <div class="form-group">
  <label>Emp Id</label>
  <input type="text" class="form-control" id="empId"  name="empId" formControlName="empId">
</div>

<div class="form-group">
    <label>Emp Name</label>
    <input type="text" class="form-control" id="eName"  name="eName" formControlName="eName">
  </div>

  <div class="form-group">
    <label>Emp Mobile</label>
    <input type="text" class="form-control" id="mobile"  name="mobile" formControlName="mobile">
  </div>

  <div class="form-group">
    <label>Emp Salary</label>
    <input type="text" class="form-control" id="salary"  name="salary" formControlName="salary">
  </div>

  <button class="btn btn-success" type="submit">Submit</button>

</form>
</div>